<% if current_user %>
  <%= link_to "Log Out", "/login", method: "delete" %>
<% else %>
  <%= link_to "Register", "/users/new" %>
  <%= link_to "Log In", "/login" %>
<% end %>

<h1><%= @campaign.name %></h1>
