<% if @users.empty? %>
  <p>There are no users; passwordless authentication will not work.</p>
<% else %>
  <%= form_tag :passwordless_login_post, method: :post do %>
    <hr>
    <p>New and Improved Passwordless Login.</p>
      <label>
        Username:
        <%= select_tag 'user-select', options_from_collection_for_select(@users, 'id', 'username') %>
      </label>
    <%= submit_tag 'Auth by Email' %>
  <% end %>
<% end %>