<h2> <%= @game_session.name %> </h2>

<h3> Participating Characters </h3>

<ul>
  <% @game_session.characters.each do |character| %>
    <li> <%= character.name %> </li>

  <% end %>
</ul>

<%= link_to 'Create New Adventure Log', "/game_sessions/#{@game_session.id}/adventure_logs/new" %>

<% @game_session.adventure_logs.each do |adventure_log| %>
  <p><%= adventure_log.content %></p>
<% end %>
