<h1>New Campaign</h1>

<%= form_with model: @campaign, url: admin_campaigns_path, local: true do |form| %>
  <%= form.label :name %>
  <%= form.text_field :name %>
  <%= form.submit 'Create Campaign' %>
<% end %>
