<h1>Characters</h1>

<% @characters.each do |character| %>
  <p>Name: <%= character.name %></p>
  <p>Race: <%= character.race %></p>
  <p>Level: <%= character.level %></p>
  <p>Class: <%= character.character_class %></p>
<% end %>