<p>Hail, <%= @user.username %>. Turing West Marches awaits your return.</p>
<p><a href="http://turingwestmarches.com/auth/<%= @uuid %>">Click here to log in to Turing West Marches</a>. This link expires in 10 minutes.</p>
