<p>Hail, <%= @character.name %>. The Cobalt Reserve awaits your presence.</p>
<p><a href="http://cobalt-reserve.com/auth/<%= @uuid %>">Click here to return to the Cobalt Reserve</a>. This link expires in 10 minutes.</p>
