<p>Hail, <%= @user.username %>. The Cobalt Reserve awaits your return.</p>
<p><a href="http://cobalt-reserve.com/auth/<%= @uuid %>">Click here to log in to the Cobalt Reserve</a>. This link expires in 10 minutes.</p>
